@import (less) "node_modules/bootstrap/dist/css/bootstrap.css";

.container-fluid{
    border:solid 3px#BFC9CA;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.col-3{
    padding: 0px;
}
.head{
    text-align: center;
    padding:5px;
    font-weight: 400;
    max-width:100%;
}
.headTitle{
    font-size: 1em;
    font-weight: 500;

}
.head1{
    background-color: #FDEDEC;
    padding-bottom:5px;
}
.head2{
    background-color: #e6ffe6;
    padding-bottom:5px;
}
.head3{
    background-color: rgb(179, 255, 255,0.5);
    padding-bottom:5px;
}
.head4{
    background-color: rgb(179, 179, 255,0.4);
    padding-bottom:5px;
}
.row{
    padding-bottom:5px;
}
svg{
    position: relative;
    display:block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.label{
    font-size: 2em;
    text-shadow: 0px 1px 6px rgba(255,255,255,0.75)
}
foreignObject{
    text-align: left;
}
.progress{
    border-radius: 0px;
}
.progress-bar-selected{
    background-color: green;
}
.grey{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}